.section_One {
    display:flex;
    justify-content: center;
    align-content: center;
    margin:300px;
   
}
.btn{
    font-size:30px;
    font-weight: 700;
    padding:50px 100px;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    background-color:rgb(16, 77, 168);
    transition: color 1000ms cubic-bezier(.10, .5, .83, .4), background-color 1000ms cubic-bezier(.10, .5, .83, .4) ,transform 5000ms;
    transition-property: all;
}

.btn:hover{
    color: black;
    background-color: rgb(207, 30, 30);
    transform: rotate(360deg)
}
