.section_button {
    display:flex;
   /* justify-content: center; */
    align-content: center;
    
   
}
.btn{
    position:relative;
    font-size:30px;
    font-weight: 700;
    padding:30px 50px;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    background-color:rgb(8, 9, 10);
    transition: color 1000ms cubic-bezier(.10, .5, .83, .4), background-color 1000ms cubic-bezier(.10, .5, .83, .4) ,transform 5000ms;
    transition-property: all;
    transform-origin: left;
    
}

.btn:hover,
.btn:focus{
    color: black;
    background-color: rgb(207, 30, 30);

   /* transform: rotate(180deg) */
}
/*
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: black;
    background-color: rgb(207, 30, 30);
    transform-origin: left;
    transition:1000ms;
    transform: scaleX(0);
    z-index:2;
    border-radius: 20%;
}

.btn:hover::before {
    color: black;
    background-color: rgb(207, 30, 30);
    transform-origin: left;
    transform: scaleX(1);
}
*/
.firstList {
    background-color: rgb(255, 85, 0);
}
.logoText {
    color:brown
}